.mail {
	box-sizing: border-box;
	width: 50%;
	height: 630px;
	background-color: @bg-form;
	background-image: url("../img/mail-bg-dark.jpg");
	background-position: 50%;
	/* background-size: contain; */
	background-repeat: no-repeat;
}

.mail__form {
	width: 415px;
	margin: 0 auto;
	padding-top: 115px;
	padding-bottom: 110px;
}

.mail__wrapp {
	display: flex;
	justify-content: space-between;
	.set();
	margin-bottom: 25px;
}

.mail__input {
	box-sizing: border-box;
	width: 300px;
	padding: 10px 10px;
	color: #f6f6f6;
	background-color: transparent;
	border: 1px solid fade(#f2f2f2, 70%);
	border-radius: 2px;

	&:hover,
	&:focus {
		border-color: #f2f2f2;
	}
}

.mail__label {
	font-family: @ff-label;
	line-height: 36px;
	color: #f6f6f6;
}

.mail__button {
	width: 120px;
	margin-left: auto;
	border-radius: 2px;
	cursor: pointer;
}