.main-nav {
	display: flex;
	justify-content: space-between;
	width: 100px;
}

.main-nav__toggle {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.main-nav__label {
	font-family: @ff-label, sans-serif;
	font-weight: 700;
	line-height: 36px;
	color: @cl-lighttext;
	text-transform: uppercase;
}