.page-header {
	background-color: @bg-dark;
	color: @cl-lighttext;
}

.page-header__title {
	.set();
	font-family: @ff-subtitle, sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
}

.page-header__desc {
	.set();
	font-size: 17px;
	line-height: 25px;
}