.price__list {
	.set-ul();
}

.price__subtitle {
	.set();
	font-family: @ff-label, sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	color: #485563;
	&--best {
		color: @cl-title;
	}
}

.price__total {
	.set();
}

.price__coast {
	font-family: @ff-label, sans-serif;
	font-size: 45px;
	font-weight: 400;
	line-height: 9px;
	color: #485563;
	&--best {
		color: @cl-title;
	}
}

.price__period {
	display: block;
	text-transform: uppercase;
	color: fade(@cl-text, 80%);
}

.price__pack-desc {
	.set();
	line-height: 40px;
}

.price__button {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: @cl-lighttext;
	text-decoration: none;
	background-color: #485563;
	border-radius: 20px;
}