.team {
	background-color: @bg-dark;
}

.team__list {
	.set-ul();
}

.team__item {
	font-family: @ff-label, sans-serif;
	background-color: fade(#f2f2f2, 75%);
}

.team__subtitle {
	.set();
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
}

.team__job {
	line-height: 20px;
}

.team__social-list {
	.set-ul();
}