.team {
	padding-top: 98px;
	padding-bottom: 98px;
	background-color: @bg-dark;
	background-image: url("../img/bg-team-dark.jpg");
	background-size: cover;
}

.team__title-box {
	margin-bottom: 85px;
}

.team__list-wrapper {
	margin-left: -20px;
}

.team__list {
	display: flex;
	flex-wrap: wrap;
	.set-ul();
	margin-bottom: 90px;
}

.team__item {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 225px;
	margin-left: 20px;
	font-family: @ff-label, sans-serif;
	text-align: center;
	background-color: fade(#f2f2f2, 75%);
}

.team__subtitle {
	.set();
	margin-bottom: 3px;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
}

.team__job {
	margin-bottom: 20px;
	line-height: 20px;
}

.team__image {
	position: relative;
	order: -1;
	margin-bottom: 30px;
}

.team__link-bio {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.set();
	padding-top: 100px;
	font-family: @ff-subtitle, sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 36px;
	color: @cl-lighttext;
	text-transform: uppercase;

	background-color: fade(#29333d, 70%);
	&::after {
		content: "";

		position: absolute;
		bottom: 86px;
		right: 90px;

		width: 40px;
		height: 2px;

		background-color: fade(#f2f2f2, 80%);
	}
}

.team__image:hover .team__link-bio {
	display: block;
}

.team__social-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
	.set-ul();
	margin: 0 auto;
	margin-bottom: 30px;
}

.team__button {
	margin: 0 auto;
}