.title {
	.set();
	font-size: 26px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;

	&--light {
		color: #f2f2f2;
	}
}

.title__text {
	.set();
	line-height: 30px;
	text-align: center;

	&--light {
		color: #f2f2f2;
	}
}